name: Build Plugin

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Build Cross-Platform
        run: just package

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: plugin-binaries
          path: dist/*.vcvplugin

      - name: Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.vcvplugin
          generate_release_notes: true
